services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - 3000:3000
    command: npm run dev
    env_file:
      - .env.development
volumes:
  node_modules: