version: '3.6'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./nextjs-hasura-app:/app
      - node_modules:/app/node_modules
    ports:  
      - 3000:3000
    command: yarn run dev
    env_file:
      - .env.development
volumes:
  node_modules: