.wrapper {
  margin-bottom: var(--pico-block-spacing-vertical);
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  border-radius: var(--pico-border-radius);
  background: var(--pico-card-background-color);
  box-shadow: var(--pico-card-box-shadow);
}

.wrapper > header {
  margin-top: calc(var(--pico-block-spacing-vertical) * -1);
  margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
  margin-bottom: var(--pico-block-spacing-vertical);
  margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
  padding: calc(var(--pico-block-spacing-vertical) * 0.66) var(--pico-block-spacing-horizontal);
  background-color: var(--pico-card-sectioning-background-color);
  border-bottom: var(--pico-border-width) solid var(--pico-card-border-color);
  border-top-right-radius: var(--pico-border-radius);
  border-top-left-radius: var(--pico-border-radius);
}

.wrapper > footer {
  margin-top: var(--pico-block-spacing-vertical);
  margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
  margin-bottom: calc(var(--pico-block-spacing-vertical) * -1);
  margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
  padding: calc(var(--pico-block-spacing-vertical) * 0.66) var(--pico-block-spacing-horizontal);
  background-color: var(--pico-card-sectioning-background-color);
  border-top: var(--pico-border-width) solid var(--pico-card-border-color);
  border-bottom-right-radius: var(--pico-border-radius);
  border-bottom-left-radius: var(--pico-border-radius);
}

.footer {
  text-align: center;
  margin: 0;
}

@media (max-width: 575px) {
  .main {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
}